<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>First name</td>
    <td><%= @owner.last_name %></td>
  </tr>
  <tr>
    <td>Last name</td>
    <td><%= @owner.last_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @owner.email %></td>
  </tr>
  <tr>
    <td>Phone number</td>
    <td><%= @owner.phone_number %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
