<%= form_for(@offer_mean) do |f| %>
  <div class="field">
    <%= f.label :has_breakfast %>
    <%= f.check_box :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
<% end %>