<h1>Family information</h1>
<%= form_for setup_owner(@owner), url: wizard_path, method: :put, html: { class: 'form-horizontal' } do |owner_form| %>
  <fieldset>
    <legend>Family</legend>
    <div class="form-group">
      <%= owner_form.label :primary_language, class: 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= owner_form.text_field :primary_language, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= owner_form.label :status, class: 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= owner_form.text_field :status, class: 'form-control' %>
      </div>
    </div>
  </fieldset>


  <fieldset>
    <legend>Children</legend>
    <%= owner_form.fields_for :children do |child_form| %>
      <div class="form-group">
        <%= child_form.label :age, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= child_form.text_field :age, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Pets</legend>
    <%= owner_form.fields_for :pet do |pet_form| %>
      <div class="form-group">
        <%= pet_form.label :name, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= pet_form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= pet_form.label :type, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= pet_form.text_field :type, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <hr/>

  <div class="btn-group">
    <%= link_to 'Basic Information', previous_wizard_path, class: 'btn btn-primary' %>
    <%= owner_form.submit 'House Information', class: 'btn btn-primary' %>
  </div>
<% end %>
