<h1>House information</h1>
<%= form_for setup_house(@owner), url: wizard_path, method: :put, html: { class: 'form-horizontal' } do |owner_form| %>
  <fieldset>
    <legend>Family</legend>
    <div class="form-group">
      <%= owner_form.label :primary_language, class: 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= owner_form.text_field :primary_language, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= owner_form.label :status, class: 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= owner_form.text_field :status, class: 'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Children</legend>
    <%= owner_form.fields_for :children do |child_form| %>
      <div class="form-group">
        <%= child_form.label :age, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= child_form.text_field :age, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Address</legend>
    <%= owner_form.fields_for :offerings do |offering_form| %>
      <%= offering_form.fields_for :house do |house_form| %>
        <%= house_form.fields_for :address do |address_form| %>
          <div class="form-group">
            <%= address_form.label :address, class: 'col-md-2 control-label' %>
            <div class="col-md-5">
              <%= address_form.text_field :address, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= address_form.label :apartment, class: 'col-md-2 control-label' %>
            <div class="col-md-5">
              <%= address_form.text_field :apartment, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= address_form.label :city, class: 'col-md-2 control-label' %>
            <div class="col-md-5">
              <%= address_form.text_field :city, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= address_form.label :postal_code, class: 'col-md-2 control-label' %>
            <div class="col-md-5">
              <%= address_form.text_field :postal_code, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= address_form.label :province, class: 'col-md-2 control-label' %>
            <div class="col-md-5">
              <%= address_form.text_field :province, class: 'form-control' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Pets</legend>
    <%= owner_form.fields_for :pets do |pet_form| %>
      <div class="form-group">
        <%= pet_form.label :name, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= pet_form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= pet_form.label :species, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= pet_form.text_field :species, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= pet_form.label :family, class: 'col-md-2 control-label' %>
        <div class="col-md-5">
          <%= pet_form.text_field :family, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <hr/>

  <div class="btn-group">
    <%= link_to 'Family Information', previous_wizard_path, class: 'btn btn-primary' %>
    <%= owner_form.submit 'Room Information', class: 'btn btn-primary' %>
  </div>
<% end %>
